<div class="nte-dialog-content">
  <h2>{{ talent.name }} ({{ talent.value }})</h2>
  <section class="nte-dialog-modifiers">
    <div class="nte-dialog-modifier">
      <label
        for="nte-dialog-modifier-difficulty"
        >{{ localize 'MYSYST.Global.difficulty' }}</label
      >
      <select id="nte-dialog-modifier-difficulty" name="difficulty">
        {{#each difficultyLevels as |difficulty|}}
        <option value="{{ difficulty.value }}">
          {{ localize (concat 'MYSYST.Dialog.difficulty.' difficulty.label) }}
          ({{ difficulty.value }})
        </option>
        {{/each}}
      </select>
    </div>
  </section>
</div>
<div class="dialog-buttons">
  {{#each buttons as |button id|}}

  <button
    class="dialog-button {{ cssClass }}"
    data-button="{{ id }}"
    {{disabled
    button.disabled}}
  >
    {{{button.icon}}} {{{button.label}}}
  </button>
  {{/each}}
</div>
