<div class="dice-roll">
  {{ log bag}}
  <div class="dice-result">
    <div class="nte-dice-tooltip dice-tooltip expanded" style="display: block">
      <section class="tooltip-part">
        <div class="dice">
          <header class="part-header flexrow">
            <span class="part-formula">{{ result.formula }} </span>

            {{#if bag.show}}
            <span class="part-total">
              {{> (partial moduleId "piles") good=bag.good bad=bag.bad confused=bag.confused }}
            </span>
            {{/if}}
          </header>
          <h4 class="dice-total">
            <div class="nte-pile">
              {{#each results as |result|}}
              {{#if result}}
              <i class="good fa-solid fa-circle-dot"></i>
              {{else}}
              <i class="bad fa-solid fa-circle"></i>
              {{/if}}
              {{/each}}
            </div>
          </h4>
        </div>
      </section>
      {{ log actor }}
      {{#if (lt nbDraw 5)}}
      <section class="nte-roll-actions">
        <button
          class="nte-risk"
          data-actor-id="{{ actor.id }}"
          data-draw="{{ nbDraw }}"
          data-good="{{ good }}"
          data-bad="{{ bad }}"
          data-results="{{ resultsJson }}"
          data-confused="{{ bag.confused }}"
        >
          <i class="fa-solid fa-sack-dollar"></i>
          {{localize "NTE.Actor.risk"}}
        </button>
      </section>
      {{/if}}
    </div>
  </div>
</div>
