<section class="nte-bags">
  {{!-----------------------------------------}}
  {{!-- bags --}}
  {{!-----------------------------------------}}
  <div class="nte-bag">
    <prose-mirror
      class="nte-bag-editor monni-text-editor"
      name="system.bag1"
      data-document-uuid="{{ actor.uuid }}"
      value="{{ actor.system.bag1 }}"
      collaborate="true"
      toggled="true"
      compact="true"
      >{{{actor.system.bag1}}}</prose-mirror
    >
    <prose-mirror
      class="nte-bag-editor monni-text-editor"
      name="system.bag2"
      data-document-uuid="{{ actor.uuid }}"
      value="{{ actor.system.bag2 }}"
      collaborate="true"
      toggled="true"
      compact="true"
      >{{{actor.system.bag2}}}</prose-mirror
    >
  </div>
</section>
