{{!-- ----------------------------------------- --}}
{{!-- Header --}}
{{!-- ----------------------------------------- --}}
<header class="sheet-header">
  <div>
    <img
      src="{{ actor.img }}"
      data-edit="img"
      title="{{ actor.name }}"
      height="100"
      width="177"
    />
  </div>
  <div class="nte-header-seconde-section">
    {{#if edit.isEnable }}
    <div class="nte-actor-controles">
      <button class="nte-actor-edit" data-type="good" data-value="1">
        <div>+1&nbsp;<i class="good fa-solid fa-circle-dot"></i></div>
      </button>
      <button class="nte-actor-edit" data-type="bad" data-value="1">
        <div>+1&nbsp;<i class="bad fa-solid fa-circle"></i></div>
      </button>
      <button class="nte-actor-edit" data-type="clear">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
      <button class="nte-actor-edit" data-type="good" data-value="-1">
        <div>-1&nbsp;<i class="good fa-solid fa-circle-dot"></i></div>
      </button>
      <button class="nte-actor-edit" data-type="bad" data-value="-1">
        <div>-1&nbsp;<i class="bad fa-solid fa-circle"></i></div>
      </button>
      <button class="nte-actor-edit" data-type="quit">
        <i class="fa-solid fa-door-open"></i>
      </button>
    </div>
    {{else}}
    <div class="nte-actor-roll">
      <button
        class="nte-actor-roll-button"
        data-action="roll"
        title="{{localize 'NTE.Actor.roll'}}"
      >
        <i class="fas fa-dice"></i>
        {{localize 'NTE.Actor.roll'}}
      </button>
      <button
        class="nte-actor-bag-button"
        data-action="bag"
        title="{{localize (ternary bag 'NTE.Actor.traits' 'NTE.Actor.bag') }}"
      >
        <i class="fas {{ternary bag 'fa-circle-user' 'fa-bag-shopping' }}"></i>
        {{localize (ternary bag 'NTE.Actor.traits' 'NTE.Actor.bag') }}
      </button>
    </div>
    {{/if}}
    <input
      type="text"
      name="name"
      value="{{ actor.name }}"
      data-edit="name"
      placeholder="{{localize 'NTE.Actor.name'}}"
    />
    <input
      type="text"
      name="system.risk"
      value="{{ actor.system.risk }}"
      data-edit="system.risk"
      placeholder="{{localize 'NTE.Actor.risk'}}"
    />
  </div>
</header>
