<div class="nte-traits">
  <section class="nte-hexagon-section">
    <div class="hexagon-container">
      <div class="hexagon-placement-init">
        <div class="hexagon">
          <div class="hexagon-content">
            <textarea
              name="system.archetyp.name"
              placeholder="{{localize 'MYSYST.Actor.archetyp'}}"
              >{{ actor.system.archetyp.name }}</textarea>
          </div>
          <div class="hexagon-bottom">
            <div class="hexagon-bottom-value">
              1 o 2 a
            </div>
          </div>
        </div>
      </div>
      {{#each actor.system.quality as |trait index|}}
      <div
        class="hexagon-placement"
        style="--row: 1; --index: {{ @index }}"
        data-row="1"
        data-index="0"
      >
        <div class="hexagon">
          <div class="hexagon-content">
            <textarea
              name="system.quality.{{ @index }}.name"
              placeholder="{{localize 'MYSYST.Actor.quality'}}"
              >{{ trait.name }}</textarea>
          </div>
          <div class="hexagon-bottom">
            <div class="hexagon-bottom-value">
              1 o 2 a
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{#each actor.system.ability as |trait index|}}
      <div
        class="hexagon-placement"
        style="--row: 2; --index: {{ @index }}; --hex-corrector: {{ mod @index 2 }}"
        data-row="1"
        data-index="0"
      >
        <div class="hexagon">
          <div class="hexagon-content">
            <textarea
              name="system.ability.{{ @index }}.name"
              placeholder="{{localize 'MYSYST.Actor.ability'}}"
              >{{ trait.name }}</textarea>
          </div>
          <div class="hexagon-bottom">
            <div class="hexagon-bottom-value">
              1 o 2 a
            </div>
          </div>
        </div>
      </div>
      {{/each}}

  </section>
</div>
